    
<div class="header" *ngIf="loginService.currentUserName==null">
        
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                 
                <div class="col-md-12  text-center ">
                    <h2>Welcome to Employee Client Management System.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis rem deleniti veniam iure veritatis molestias quos culpa aspernatur corrupti. Temporibus voluptatum eius repudiandae atque aut reiciendis consectetur numquam odio amet, at tempore soluta enim cumque maiores totam similique quas vitae officia tempora ad? Dolorem saepe officiis, repellat libero eligendi quisquam!</p>
                </div>
            </div>
           
        </div>
</div>